:root {
    --hoved-farge: #d4c8ff;
}
#hoved {
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    
}

#fargeSkjema {
    color: var(--hoved-farge);
    display: flex;
    width: 100%;
}
input[type=color] {
    border-top-left-radius: 1.25vh;
    border-bottom-left-radius: 1.25vh;
    background-color: var(--hoved-farge);
    width: 100%;
}
#tallVisningsDiv {
    margin: auto;
    display: flex;
    justify-content: right;
    border: 0.0625em solid black;
    width: 99.25%;
    height: 25%;
    font-size: 12vh;
}

.knappDiv {
    margin: auto;
    width: 100%;
    height: 75%;
    padding: 0%;
    display: flex;
    justify-content: center;
}
.knappDiv button {
    width: 25%;
    height: 25%;
    display: flex;
    justify-content: center;
    font-size: 9vh;
}
#rot {
    margin: 0%;
    width: 25%;
    height: 35%;
    justify-content: center;
    display: flex;
}
#rot input[type=button]{
    border-top-right-radius: 1.25vh;
    border-bottom-right-radius: 1.25vh;
    width: 50%;
    height: 25%;
    padding: 0%;
    background-color: var(--hoved-farge);
    justify-content: center;
    font-size: 9.25vh;
}

#rot input[type=text] {
    border-top-left-radius: 1.25vh;
    border-bottom-left-radius: 1.25vh;
    width: 50%;
    text-align: center;
    background-color: var(--hoved-farge);
    font-size: 8.75vh;

}

button, #alleTall {
    background-color: var(--hoved-farge);
    width: 25%;
    border: 1px solid black;
    border-radius: 1vh;
    display: flex;
    justify-content: center;
}
#alleTall {
    display: flex;
    flex-direction:column;
    justify-content: center;
}
#tall1, #tall2 {
    display: flex;
    font-size: 4.5vh;
    justify-content: center;
}